<%- include('partials/header') %>
<meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
<title>Videos</title>

<link rel="stylesheet" href="/public/stylesheet/videos.css">
</head> 
<body>


  
<%- include('partials/navbar') %>




 <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>



  <!--Grid row-->

  <div class="container videom">

    <center style="margin-bottom:80px;"><h1> VIDEO LECTURES</h1></center>


<div class="row mb-5">
    <% if(videos.length===0) {%>
    <section><h1>WILL BE UPLOADED SOON</h1></section>
    <% } %>

	<% videos.forEach(function(video){ %>
  <!--Grid column-->
  <div class="col-lg-4 col-md-12" style="margin-left:90px; margin-right:90px;">

    <p class="h5 mb-4" style="color:black;font-size:45px;text-shadow:2px 1px 1px grey; text-align:center;"><%= video.name %></p>

      <div style="margin-bottom:70px;">
    <div class="embed-responsive embed-responsive-16by9 z-depth-1" >
      
        <iframe class="embed-responsive-item" height="101%" src="<%=video.vLink%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>
    </div>
			    <% if(user&&user.admin) {%> 
                                    <form action="/delete/video/<%=video._id%>?_method=delete" method="post" style="display:inline;">
                                           <center><button class="btn btn-lg btn-danger" style="margin-top:30px;">Remove Video</button></center>
                                    </form>
          <% }%> 
            </div>               

                           


  </div>
     <%  }) %>
  <!--Grid column-->



</div>
  <!--Grid row-->

</div>





<%- include('partials/footer') %>
